<div>
<h2>Check out some of the projects I have been working on!</h2>
	<p>
	An upcycled jewerly store, a compliment to an eBay store, this web application, and an example of a 
	fast user interface. 
	</p>
	<table class="table table-inverse blue-table">
		<tbody>
		#foreach($project in $mainList)
			<tr>
				<td><a href="$project.url" alt="$project.name" 
					title="$project.name" target="_blank">$project.name</a></td>
				<td>$project.description</td>
			</tr>
		#end
		</tbody>
	</table>
</div>	