<div>
<h2>Some of the services I offer!</h2>
	<p>
	Anything from custom web design and maintenance to custom business solutions.
	</p>
	<table class="table table-inverse blue-table">
		<tbody>
		#foreach($service in $mainList)
			<tr>
				<td>$service.name</td>
				<td>$service.description</td>
			</tr>
		#end
		</tbody>
	</table>
</div>	