<div>
<h2>Let me desgin your next business solution</h2>
	<p>
	Below is a list of reasons why your business needs a footprint on the web!
	</p>
	<table class="table table-inverse blue-table">
		<tbody>
		#foreach($reason in $mainList)
			<tr>
				<td>$reason.name</td>
				<td>$reason.description</td>
			</tr>
		#end
		</tbody>
	</table>
</div>	
	